/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* Layers */

#define DEF_L 0
#define NAV_L 1
#define SYM_L 2
#define NUM_L 3
#define MED_L 4

/* Shortcuts */

#define CUT LC(X)
#define COPY LC(C)
#define PASTE LC(V)
#define UNDO LC(Z)
#define SLALL LC(A)

/* Key Position Groups */

#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22  // left-hand keys
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 23 24 25  // right-hand keys
#define THUMBS 26 27 28 29                        // thumb keys

/* Mod Tap Parameters */

#define TAPPING_TERM 300
#define TD_TAPPING_TERM 325
#define QUICK_TAP_TERM 175

/* Behavior Settings */

&sk {
    release-after-ms = <250>;
    quick-release;
};

&sl { release-after-ms = <250>; };

&mt {
    tapping-term-ms = <TAPPING_TERM>;
    flavor = "tap-preferred";
    quick-tap-ms = <QUICK_TAP_TERM>;
};

/ {
    behaviors {
        mtl: mod_tap_left {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            global-quick-tap;
        };

        mtr: mod_tap_right {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            global-quick-tap;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        /*                KEY POSITIONS

             0   1   2   3   4      5   6   7   8   9
            10  11  12  13  14     15  16  17  18  19
                20  21  22             23  24  25
                        26  27     28  29              */
        /* Letters */

        v {
            key-positions = <2 3>;
            bindings = <&kp V>;
            layers = <0>;
        };

        q {
            key-positions = <12 11>;
            bindings = <&kp Q>;
            layers = <0>;
        };

        z {
            key-positions = <2 13>;
            bindings = <&kp Z>;
            layers = <0>;
        };

        /* Brackets */
        /* Convenience */

        esc {
            bindings = <&kp ESC>;
            key-positions = <11 13>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            layers = <0>;
        };

        x {
            bindings = <&kp X>;
            key-positions = <12 22>;
            layers = <0>;
        };

        zero {
            bindings = <&kp N0>;
            key-positions = <20 21>;
            layers = <0>;
        };

        one {
            bindings = <&kp N1>;
            key-positions = <22 21>;
            layers = <0>;
        };

        b {
            bindings = <&kp B>;
            key-positions = <12 13>;
            layers = <0>;
            timeout-ms = <30>;
        };

        j {
            bindings = <&kp J>;
            key-positions = <6 7>;
            layers = <0>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <7 8>;
            layers = <0>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <24 25>;
            layers = <0>;
        };

        semicolon {
            bindings = <&kp SEMI>;
            key-positions = <23 25>;
            layers = <0>;
        };

        to_media {
            bindings = <&to 4>;
            key-positions = <1 2 3>;
            layers = <0>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <23 24>;
            layers = <0>;
        };

        quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <17 19>;
        };

        to_nav {
            bindings = <&to 1>;
            key-positions = <20 21 22>;
            layers = <0>;
        };

        bt_clear_all {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <1 2 3>;
            layers = <4>;
        };

        the {
            bindings = <&the>;
            key-positions = <6 16>;
            layers = <0>;
        };

        of {
            bindings = <&of>;
            key-positions = <7 17>;
            layers = <0>;
        };

        and {
            bindings = <&and>;
            key-positions = <8 18>;
            layers = <0>;
        };
    };

    macros {
        the: the {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp H &kp E>;
            label = "THE";
        };

        of: of {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp F>;
            label = "OF";
        };

        and: and {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp N &kp D>;
            label = "AND";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none             &kp W           &kp F             &kp P               &trans             &trans       &kp L               &kp U               &kp Y           &trans
&mt LEFT_SHIFT A  &mt LC(LWIN) R  &mt LC(LSHIFT) S  &mt LC(LEFT_ALT) T  &kp G              &kp M        &mt LC(LEFT_ALT) N  &mt LC(LSHIFT) E    &mt LC(LWIN) I  &mt LSHIFT O
                  &mt LCTRL K     &mt LEFT_ALT C    &mt LEFT_WIN D                                      &mt LEFT_GUI H      &mt LEFT_ALT COMMA  &mt LCTRL DOT
                                                    &kp LEFT_SHIFT      &lt 1 BACKSPACE    &lt 2 ENTER  &lt 3 SPACE
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
&none       &kp LA(F4)               &mmv MOVE_UP     &kp LA(TAB)               &none     &none      &kp K_CONTEXT_MENU  &kp UP          &trans        &none
&kp ESCAPE  &mmv MOVE_LEFT           &mmv MOVE_DOWN   &mmv MOVE_RIGHT           &trans    &trans     &kp LEFT            &kp DOWN        &kp RIGHT     &msc SCRL_RIGHT
            &mt LEFT_CONTROL DELETE  &mt LC(V) LC(C)  &mt PRINTSCREEN CAPSLOCK                       &msc SCRL_LEFT      &msc SCRL_DOWN  &msc SCRL_UP
                                                      &kp ENTER                 &to 0     &mkp LCLK  &mkp RCLK
            >;
        };

        sym_layer {
            label = "Sym";
            bindings = <
&trans    &kp SEMI   &kp HASH   &kp DLLR          &none        &kp CARET  &kp AMPS   &kp SEMI   &kp COLON  &kp QMARK
&kp EXCL  &kp TILDE  &kp MINUS  &kp EQUAL         &kp ASTRK    &kp BSLH   &kp LCTRL  &kp LSHFT  &kp LALT   &kp LGUI
          &kp AT     &kp HASH   &kp DOLLAR                                &kp PIPE   &kp LT     &kp GT
                                &mt LSHIFT SPACE  &trans       &trans     &trans
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
&none         &none         &none          &none          &none     &none   &none          &none          &none         &none
&mtl LGUI N1  &mtl LALT N2  &mtl LSHFT N3  &mtl LCTRL N4  &kp N5    &kp N6  &mtr LCTRL N7  &mtr LSHFT N8  &mtr LALT N9  &mtr LGUI N0
              &none         &none          &none                            &none          &none          &none
                                           &trans         &trans    &trans  &trans
            >;
        };

        MEDIA_LAYER {
            bindings = <
&trans        &trans        &trans        &trans        &trans          &trans      &kp K_PREV         &kp K_PLAY_PAUSE  &kp K_NEXT     &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp K_MUTE  &kp K_VOLUME_DOWN  &kp K_VOLUME_UP   &kp C_BRI_DEC  &kp C_BRI_INC
              &bt BT_PRV    &bootloader   &bt BT_NXT                                &trans             &bootloader       &bt BT_CLR
                                          &trans        &to 0           &trans      &trans
            >;
        };
    };
};
